<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="bescape" ng-controller="bescapeCtrl">

    <ion-pane>
      <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="activeSlide">
          <ion-slide>
            <div class="content intro"><!-- 0 -->
              <h1>Bescape</h1>
              <p>Mindfulness for your busy life</p>
              <button class="button button-balanced button-clear button-large" ng-click="advanceSlide()">
                Start your session
              </button>
            </div>
          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>If possible, silence your phone</p>
              <button class="button button-balanced button-clear button-large" ng-click="advanceSlide()">
                Okay
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>Have you found your "calm" environment?</p>
              <!-- <div class="button-bar"> -->
                <button class="button button-calm button-clear button-large" ng-click="advanceSlide(2)">
                  Yes
                </button>
                <button class="button button-royal button-clear button-large" ng-click="advanceSlide()">
                  No
                </button>
              <!-- </div> -->
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>That's okay. Life is hectic sometimes. That's why this app exists.</p>
              <p>If possible, try going for a walk to avoid interruptions.</p>

              <button class="button button-royal button-clear button-large" ng-click="advanceSlide()">
                Okay
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>Feel your heart beat in your chest.</p>
              <p>Is it racing or is it calm?</p>
              <button class="button button-positive button-clear button-large" ng-click="advanceSlide()">
                It's Racing
              </button>
              <button class="button button-calm button-clear button-large" ng-click="advanceSlide(2)">
                It's Calm
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>Take a few extra moments to slow down.</p>
              <p>Take a deep breath and settle in, letting your racing heart calm.</p>
              <button class="button button-positive button-clear button-large" ng-click="advanceSlide()">
                I'm slowing down.
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>{{$count}}</p>
              <p>Now focus on your breathing.</p>
              <p>Draw in six deep breaths. Feel yourself breathing in and out.</p>
              <p>Hold the button while breathing in, and release it as you breath out.</p>
              <button class="button button-calm button-clear button-large" on-release="countThenAdvance(6)">
                I'm Breathing.
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>Notice the places in your body where there is tension or pain.</p>
              <p>This could be at your shoulders, core, back, or even your pursed lips.</p>
              <p>Tighten completely, then let go of your tension with your awareness of it.</p>
              <button class="button button-calm button-clear button-large" on-release="advanceSlide(2)">
                I'm feeling relaxed.
              </button>
              <button class="button button-positive button-clear button-large" on-release="advanceSlide()">
                I'm still tense.
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>That's okay. Life can be stressful. We don't always have time to relax.</p>
              <p>Notice the places in your body where you do feel relaxed.</p>
              <p>See if you can enhance your relaxation in those place.</p>
              <button class="button button-positive button-clear button-large" on-release="advanceSlide(2)">
                I'm relaxing.
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <div class="wait-spinner" ng-show="waiting">
                <ion-spinner icon="ripple"></ion-spinner>
              </div>

              <p>Listen to the sounds around you. Are they loud, soft, or in-between?</p>
              <p>Hold the button for 30 seconds while you listen to your world.</p>
              <!-- <p>It will vibrate when complete.</p> -->
              <button on-hold="waitThenAdvance(3)" on-release="cancelAdvance()" class="button button-clear button-large button-calm">I'm Listening</button>

            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <div class="wait-spinner" ng-show="waiting">
                <ion-spinner icon="ripple"></ion-spinner>
              </div>

              <p>Look around you. Notice any interesting colors or patterns?</p>
              <p>Hold the button for another 30 seconds while you experience the sights.</p>
              <!-- <p>It will vibrate when complete.</p> -->

              <button on-hold="waitThenAdvance(3)" on-release="cancelAdvance()" class="button button-clear button-large button-calm">I'm Seeing</button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>Time for your thoughts.</p>
              <p>As you listen, focus on being non-judgemental.</p>
              <p>Each thought is neither good nor bad, it just is.</p>

              <button class="button button-calm button-clear button-large" on-release="advanceSlide()">
                I'm non-judgemental.
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>Take a moment on each thought and accept it.</p>
              <p>After a moment, let it go and allow another to rise up.</p>
              <p>Hold the button for each thought, releasing when your done. Do this five times.</p>

              <button class="button button-calm button-clear button-large" on-release="countThenAdvance(5)">
                I'm Processing.
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>Did you have any fear or anxiety with these thoughts?</p>

              <button class="button button-clear button-large button-calm" on-release="advanceSlide()">
                Yes
              </button>

              <button class="button button-clear button-large button-calm" on-release="advanceSlide(2)">
                No
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>What is your greatest fear about your thoughts?</p>
              <p>Can you transform that fear?</p>
              <p>Don't worry, you don't have to have find an answer right now. Just process.</p>
              <p>Hold the button for 30 seconds while you think.</p>

              <button on-hold="waitThenAdvance(3)" on-release="cancelAdvance()" class="button button-clear button-large button-calm">
                I'm Transforming
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>{{$count}}</p>
              <p>Focus on your breathing once more.</p>
              <p>Draw in six deep breaths.</p>
              <p>Hold the button while breathing in, and release it as you breath out.</p>
              <button class="button button-calm button-clear button-large" on-release="countThenAdvance(6)">
                I'm Breathing.
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>Think to yourself, what is your happiness today?</p>
              <p>Once you find it, consider how you can maintain it.</p>
              <p>Hold the button for 30 seconds while you think.</p>

              <button on-hold="waitThenAdvance(3)" on-release="cancelAdvance()" class="button button-clear button-large button-calm">
                I'm Finding Happiness.
              </button>
            </div>

          </ion-slide>
          <ion-slide>
            <div class="content">
              <p>Happiness can also bring fear.</p>
              <p>As humans, we accept both the strength and the weakness as eqaul parts.</p>
              <p>Did you have any fear or anxiety with these thoughts?</p>

              <button class="button button-clear button-large button-calm" on-release="advanceSlide()">
                Yes
              </button>

              <button class="button button-clear button-large button-calm" on-release="advanceSlide(2)">
                No
              </button>
            </div>

          </ion-slide>
          <ion-slide>
            <div class="content">
              <p>What is your greatest fear about your happiness and aspirations?</p>
              <p>How will you be able to maintain your happiness and aspirations?</p>
              <p>Hold the button for 30 seconds while you think.</p>

              <button on-hold="waitThenAdvance(3)" on-release="cancelAdvance()" class="button button-clear button-large button-calm">
                I'm Accepting Fear.
              </button>
            </div>

          </ion-slide>

          <ion-slide>

            <div class="content">
              <p>Focus on your breathing one last time.</p>
              <p>Take one big, deep breath and return to the world.</p>
              <p>This is you, alive and breathing.</p>

              <button class="button button-balanced button-clear button-large" on-release="advanceSlide()">
                I am Complete.
              </button>
            </div>

          </ion-slide>
          <ion-slide>

            <div class="content">
              <p>If you can, take a few moments to write down any insights you've had.</p>
              <p>When ready, return to your day in your own time.</p>
              <!-- Set Reminder -->
            </div>
          </ion-slide>
        </ion-slide-box>
      </ion-content>
    </ion-pane>
  </body>
</html>
